<div class="container">
  <input type="text" [(ngModel)]="ip" placeholder="Coloca una IP" />
  <button (click)="getIpInfo()">Conseguir IP</button>
  <div *ngIf="loading" class="loading">Cargando...</div>
  <div *ngIf="ipInfo && !loading" class="ip-info-container">
    <p><strong>IP:</strong> {{ ipInfo.ip }}</p>
    <p><strong>Ciudad:</strong> {{ ipInfo.city }}</p>
    <p><strong>Region:</strong> {{ ipInfo.region }}</p>
    <p><strong>Pais:</strong> {{ ipInfo.country }}</p>
    <p><strong>Localizacion:</strong> {{ ipInfo.loc }}</p>
    <p><strong>Organizacion:</strong> {{ ipInfo.org }}</p>
    <p><strong>Codigo Postal:</strong> {{ ipInfo.postal }}</p>
    <p><strong>Zona de tiempo:</strong> {{ ipInfo.timezone }}</p>
  </div>
</div>
